.partnership-opportunities {
    font-family: Arial, sans-serif;
    margin: 0 ;
    padding: 50px;
   width: 100%;
}

.partnership-opportunities h1 {
    text-align: center;
    margin-bottom: 20px;
}

.jobIcon {
    height: 70px;
    width: 70px;
    border: 1px solid rgb(183, 182, 182);
    border-radius: 50%;
    margin-right: 10px;
}

.search-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.search-bar input {
    width: 70%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px 0 0 5px;
    outline: none;
}

.search-bar button {
    padding: 10px 20px;
    border: none;
    background-color: #007bff;
    color: white;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    width: 50px
}

.opportunity-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.opportunity-card {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 20px;
    padding: 10px 20px ;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.imageContent{
    display: flex;
    align-items: center;
    

}

.opportunity-details {
    flex: 1;
}

.tags-column, .posted-column {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.tag {
    background-color: white;
    border: 3px solid black;
    border-radius: 20px;
    padding: 3px 10px;
    margin: 5px 10px 5px 0px;
}

.pagination {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
}

.pagination li {
    margin: 0 5px;
}

.pagination button {
    padding: 8px 16px;
    border: 1px solid #007bff;
    background-color: #fff;
    color: #007bff;
    border-radius: 5px;
    cursor: pointer;
}

.pagination button:hover {
    background-color: #007bff;
    color: #fff;
}

.paginationContent {
    margin-top: 20px;
}

.jobName {
    font-size: 18px;
    font-weight: 700;
    color: black;
    margin-bottom: 0;
}

.roundBtn {
    border: 1px solid gray;
    border-radius: 40px;
    height: 30px;
    min-width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
    padding: 0 10px;
}

.btnContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
}

/* Mobile responsiveness */
@media (max-width: 768px) {
    .opportunity-card {
        flex-direction: column;
        align-items: flex-start;
    }

    .tags-column, .posted-column {
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
        margin-top: 10px;
    }

    .tag {
        margin: 5
    }
}